services:
  mysql-db:
    image: mysql:8.0.41
    restart: always
    environment:
      MYSQL_DATABASE: enrollment_system
      MYSQL_ROOT_PASSWORD: LKD281309!
    ports:
      - "3307:3306"
    networks:
      - enrollnet
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
  frontend-service:
    build: ./frontend-node
    ports:
      - "8080:8080"
    networks:
      - enrollnet
    depends_on:
      - course-service
  course-service:
    build: ./course-node
    ports:
      - "8082:8080"
    networks:
      - enrollnet
    depends_on:
      mysql-db:
        condition: service_healthy
networks:
  enrollnet:
volumes:
  mysql-data:
